* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

    box-sizing: border-box;
}

:root {
    --corPrimaria: #335492;
    --CorPrimariaOpaca: #335492bd;
    --corSecundaria: #222

}

header a {
    height: 10vh;
    background-color: var(--corPrimaria);
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    width: 5%;
    max-width: 100%;
}

#navBar {
    height: 5vh;
    background-color: var(--corSecundaria);
    display: flex;
    align-items: center;
    justify-content: center;
}
#navBar a:hover {
    text-decoration: underline;
}

#navBar a {
    margin-left: 3vw;
}

a {
    text-decoration: none;
    font-size: 110%;
    color: white;
}

.rel a {
    color: black;
    font-size: 1.025rem;
}

main {
    justify-content: center;
}

main img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    opacity: 95%
}

.mcontainer {
    position: relative;
    text-align: center;
}



.centro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 24px;
    text-shadow: -3px 2px rgb(0, 0, 0, 0.8)
}

aside{
    display: flex;
    flex-direction: row;
}

aside > article{
    margin: 20px 40px;
    padding: 5px;
    text-align: justify;
    border: var(--corSecundaria) 0.5px solid;
    border-radius: 20px 20px;
    box-shadow: -1px 2px 1px 1px rgb(0, 0, 0, 0.5)
}

footer {
    background-color: var(--corPrimaria);
    height: 9.9vh;
    padding: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer img {
    width: 5%;
}

footer ul li {
    flex-direction: row; 
    padding: 2px 12px;
}

ul li::marker {
    color: rgb(0, 0, 0, 0)
}

h1 {
    font-size: 20px;
}

.form {
    margin: 4.7vh 32vw;
    padding: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: black solid;
    border-radius: 10px;
    background-color: var(--corPrimaria);
    max-width: 100%;
}
label {
    font-size: 16px;
}

input, select, textarea{
    outline: none;
    height: 5.5vh;
    font-size: 1.10rem;
    margin: 4px 0 5px 0;
    padding: 10px;
    text-decoration: none;
    color: #333;
    font-weight: lighter;
    border: 2.5px solid var(--corSecundaria);
    border-radius: 8px;
    max-width: 100%;
}

select{
    padding: 0 10px;
}
textarea{
    height: initial;
    resize: none;
}

#cod{
    display: block;
}

input:focus {
    border: 2.5px solid var(--CorPrimariaOpaca);
}

#nome {
    width: 15vw;
}

#email {
    width: 30.25vw;
}

#telefone {
    width: 15vw;
}

#cidade {
    width: 24.5vw;
}

.imidia, .vmidia {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.imidia img{
    width: 25vw;
    margin: 75px 0;
    box-shadow: -1px 2px 1px 1px rgb(0, 0, 0, 0.5);
    border-radius: 10px;
}

.vmidia iframe{
    box-shadow: -3px 3px 1px 1px rgb(0, 0, 0, 0.5);
    border-radius: 15px;
    margin: 30px;
}

div.quemsomos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 80px 5px;
}

div.quemsomos > div {
    margin: 30px;
    padding: 15px;
    border: 2px solid var(--corPrimaria);
    border-radius: 5px;
    box-shadow: -3px 2px rgb(0, 0, 0, 0.2);
    text-align: center;
}

div.quemsomos div p {
    text-align: justify;
}

.conteudo{
    text-align: center;
    margin: 20px 10%;
    padding: 10px;
    background-color: var(--CorPrimariaOpaca);
    border-radius: 10px;      
    box-shadow: -2px 2px rgb(0, 0, 0, 0.5);  
}
.conteudo img {
    width: 60%;
    border-radius: 5px;
}

.conteudo p {
    margin: 10px;
    text-align: justify;
}

.conteudo br {
    margin: 10px;
}


