* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

    box-sizing: border-box;
    max-width: 100vw;
}

:root {
    --corPrimaria: #335492;
    --corSecundaria: #222

}

html{
    font-size: 16px;
    height: 100vh;
}

header a {
    height: 10vh;
    background-color: var(--corPrimaria);
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    width: 10%;
    max-width: 100%;
}

#navBar {
    height: 5vh;
    background-color: var(--corSecundaria);
    display: flex;
    align-items: center;
    justify-content: center;
}
#navBar a:hover {
    text-decoration: underline;
}

#navBar a {
    margin-left: 3vw;
    text-decoration: none;
    font-size: 110%;
    color: white;
}

main {
    justify-content: center;
}

main img {
    width: 100%;
    height: 100%;
    max-width: 100%;
}

aside{
    display: flex;
    flex-direction: row;
}

aside > article{
    margin: 20px 40px;
    padding: 5px;
    text-align: justify;
    border: var(--corSecundaria) 0.5px solid;
    border-radius: 20px 20px;
    box-shadow: -1px 2px 1px 1px rgb(0, 0, 0, 0.5)
}

footer {
    background-color: var(--corPrimaria);
    padding: 16px;
    height: 10vh;
}
footer img {
    width: 7vw;
    justify-content: left;
}

h1 {
    font-size: 20px;
}

.form {
    margin: 4.7vh 32vw;
    padding: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: black solid;
    border-radius: 10px;
    background-color: var(--corPrimaria);
    max-width: 100%;
}
label {
    font-size: 16px;
}

input, select, textarea{
    outline: none;
    height: 5.5vh;
    font-size: 1.10rem;
    margin: 4px 0 5px 0;
    padding: 10px;
    text-decoration: none;
    color: #333;
    font-weight: lighter;
    border: 2.5px solid var(--corSecundaria);
    border-radius: 8px;
    max-width: 100%;
}

select{
    padding: 0 10px;
}
textarea{
    resize: none;
    height: initial;
}

#cod{
    display: block;
}

input:focus {
    border: 2.5px solid var(--corPrimaria);
}

#nome {
    max-width: 100%;
    width: 205px;
}

#email {
    width: 30.25vw;
}

#telefone {
    width: 15vw;
}

#cidade {
    width: 24.5vw;
}
